h1 {
  font: 800 3.5rem/1.5 Montserrat;
}

h2 {
  font: 700 3rem/1.5 Montserrat;
  font-weight: bolder;
}

h3 {
  font: 700 1.5rem Montserrat;
}

p {
  font: 400 1rem Montserrat;
  color: #8f8f8f;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  font-family: Montserrat;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

#title .navbar {
  padding: 0 0 4rem;
}

#title .navbar-brand {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 2.8rem;
}

.nav-item {
  padding: 0 18px;
}

#title .nav-link {
  font-size: 1.5rem;
  font-weight: lighter;
}

#title h1 {
  font: 800 3.5rem/1.5 Montserrat;
  padding-top: 2rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
  font-size: ;
}

.title-img {
  width: 20%;
  transform: rotate(25deg);
  margin-left: 3%;
  position: absolute;
}

/* Features Section */

#features {
  padding: 7% 15%;
  font-family: Montserrat;
  background-color: #fff;
  position: relative;
}

.row .features-box {
  padding: 5%;
}

.features-box i {
  color: #fe8172;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.features-box i:hover {
  color: #ff4c68;
}

.features-box h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.features-box p {
  color: #8f8f8f;
  font-size: 1rem;
}

/* Testimonials Section */

#testimonials {
  background-color: #fe8172;
  color: #fff;
  font-family: Montserrat;
  text-align: center;
}

#testimonials h2 {
  font: 700 3rem/1.5 Montserrat;
  font-weight: bolder;
}

.carousel-item {
  padding: 7% 15%;
}
.carousel-img {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #fe8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

#pricing h2 {
  font: 700 3rem/1.5 Montserrat;
}

#pricing h3 {
  font: 700 1.5rem Montserrat;
}

.pricing-title {
  text-align: center;
  margin-bottom: 3%;
}

.row .pricing-card {
  padding: 3% 2%;
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    width: 50%;
    transform: rotate(0);
    position: static;
  }
}

/* CTA Section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

#cta h2 {
  font: 700 3.5rem/1.5 Montserrat;
  color: #fff;
}

/* Footer */

#footer {
  text-align: center;
  padding: 7% 15%;
}

#footer i {
  margin: 20px 10px;
}
